h3 {
  font-family: var(--font-serif);
}
p {
  font-family: var(--font-sans);
  font-size: 1rem;
}
#propa2-main {
  width: 100dvw;
  height: 500svh;
  overflow-x: hidden;
}

.frame-1 {
  height: 100vh;
}

.texture {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.6;
  filter: brightness(0.6);
  z-index: 5;
  mix-blend-mode: multiply;
  pointer-events: none;
}

.background {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
  background-repeat: repeat;
}
.floor {
  position: absolute;
  bottom: -55%;
  left: 0;
  scale: 1.2;
  transform: translateY(0, -55%);
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.window-1-container {
  position: absolute;
  top: 10%;
  right: 6%;
}
.window-1 {
  width: 241px;
  height: auto;
}
.lighting {
  position: absolute;
  top: 88%;
  right: 15%;
  transform: scale(2.6) scaleY(1.3);
  width: 100%;
  height: auto;
  opacity: 0;
  filter: blur(8px);
  z-index: 6;
  animation: lightingAnimation 3s ease-in-out 1s infinite;
}
@keyframes lightingAnimation {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
}

.hanging-lamp {
  position: absolute;
  top: 0;
  right: 15%;
  transform: translateX(-15%);
  height: auto;
  animation: lampSwing 4s ease-in-out infinite;
  transform-origin: top center;
}
.sofa-seat {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -3%) scale(1.2);
  height: auto;
}

.text {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  top: 15%;
  left: 10%;
  width: 43rem;
  color: white;
  z-index: 6;
}

/* frame 2 */
.frame-2 {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80vh;
}
.carpet {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scale(1.3);
  width: 100%;
  clip-path: inset(0% 0% 0% 0%);
  height: auto;
}

.frame-2-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.placeholder {
  display: grid;
  place-items: center;
  z-index: 1;
  width: 700px;
  height: 418px;
  background-color: white;
}
.text-2-content {
  text-align: center;
  color: white;
  width: 24rem;
  z-index: 6;
  height: auto;
}

/* frame 3 */
.frame-3 {
  width: 100%;
  height: 100vh;
}

.window-frame-3 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
}

.dining-table {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
}

.vase-container {
  position: absolute;
  bottom: 18%;
  left: 50%;
  transform: translate(-50%, -18%);
  z-index: 6;
}
.vase-wrapper {
  position: relative;
  display: inline-block;
}
.vase {
  display: block;
  width: auto;
  height: clamp(300px, 400px, 450px);
}
.vase-shine {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  z-index: 2;
  filter: blur(100px) brightness(2);
  pointer-events: none;
}

.text-3 {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  z-index: 6;
  color: white;
}
