---
import Logo from "@/assets/imgs/logo.png";
import { Image } from "astro:assets";
---

<header>
  <a href="/">
    <Image src={Logo} alt="TEDx Universitas Brawijaya Logo" class="logo" />
  </a>
</header>
<style>
  :root {
    --navbar-height: 72px;
  }

  header {
    background-color: #171715;
    height: var(--navbar-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    padding: 1rem 1.25rem;
  }

  .logo {
    height: 100%;
    width: auto;
  }

  @media (min-width: 768px) {
    :root {
      --navbar-height: 80px;
    }

    header {
      padding: 1rem 9.375rem;
    }
  }
</style>
