<header><span>TODO</span></header>
<style>
  :root {
    --navbar-height: 80px;
  }

  header {
    background-color: #171715;
    height: var(--navbar-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }

  span {
    color: white;
    line-height: 80px;
    padding-left: 20px;
    font-weight: bold;
  }
</style>
