# openssl rand -base64 32
ALCHEMY_STATE_TOKEN=your-generated-token-here
ALCHEMY_PASSWORD=your-generated-password-here
AUTH_SECRET=your-generated-auth-secret-here
GOOGLE_CLIENT_ID=your-google-client-id-here
GOOGLE_CLIENT_SECRET=your-google-client-secret-here
BREVO_API_KEY=your-brevo-api-key-here
SENDER_NAME=Your Sender Name
SENDER_EMAIL=Your Sender Email
SUPERADMIN_EMAILS=example@email.com,example2@email.com

# Cloudflare Turnstile (CAPTCHA)
TURNSTILE_SECRET_KEY=your-turnstile-secret-key-here
